body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  background-color: #FF0000;
}

.card {
  background-color: #ffffff;
  padding: 41px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 420px;
}

button {
  margin-top: 15px;
  padding: 10px 41px;
  border: none;
  border-radius: 67px;
  background-color: #4CAF50;
  color: red;
  cursor: pointer;
}

button:hover {
  background-color: #FF0000;
}

